<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projects.ofirbarzilay.funtime" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animalsounds.FullImageActivity"
            android:label="@string/title_activity_full_image" >
        </activity>
        <activity
            android:name=".animalsounds.AnimalSoundsMainActivity"
            android:label="@string/title_activity_math_main"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projects.ofirbarzilay.funtime.MainActivity" />
        </activity>
        <activity
            android:name=".math.MathMainActivity"
            android:label="@string/title_activity_math_main"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projects.ofirbarzilay.funtime.MainActivity" />
        </activity>
        <activity
            android:name=".math.MathExerciseActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_math_exercise"
            android:parentActivityName=".math.MathMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projects.ofirbarzilay.funtime.math.MathMainActivity" />
        </activity>
        <activity
            android:name=".jokes.JokesActivity"
            android:label="@string/title_activity_jokes"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projects.ofirbarzilay.funtime.MainActivity" />
        </activity>
    </application>

</manifest>
